section.about
    .container
        h2.about__title.title.second About us

        ul.about__list
            li.about__item
                .icon.icon-design
                h3.about__header Sleek design
                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.

            li.about__item
                .icon.icon-code
                h3.about__header Clean code
                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.

            li.about__item
                .icon.icon-ideas
                h3.about__header Creative ideas
                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.

            li.about__item
                .icon.icon-support
                h3.about__header Free support
                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.