section#about_us.about
    .container
        h2.about__title.title.second About us

        ul.about__list
            li.about__item
                .about__icon-wrapper
                    .icon
                    .icon-design
                h3.about__header.selected Sleek design

                .bottom-line-min.about__bottom-line-min

                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.

            li.about__item
                .about__icon-wrapper
                    .icon
                    .icon-code
                h3.about__header.selected Clean code

                .bottom-line-min.about__bottom-line-min

                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.

            li.about__item
                .about__icon-wrapper
                    .icon
                    .icon-ideas
                h3.about__header.selected Creative ideas

                .bottom-line-min.about__bottom-line-min

                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.

            li.about__item
                .about__icon-wrapper
                    .icon
                    .icon-support
                h3.about__header.selected Free support

                .bottom-line-min.about__bottom-line-min

                p.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis.