section.blog
    h2.blog__title.title Our blog
    p.blog__about Suspendisse lacinia mauris sed dolor pharetra, nec sollicitudin nulla facilisis.

    .blog__line-wrapper
        .bottom-line.blog__line-wrapper__bottom-line

    ul.blog__list
        li.blog__item
            .blog__image
                img.blog__picture(src="images/blog_1.jpg" alt="picture")
            .blog__text
                p.blog__text__about art / t-shirt
                h2.blog__text__slogan T-shirt design
                .bottom-line-min
                p.blog__text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros, at convallis purus dui ac sem.
                a.blog__text__more(href='#') Read more >>

        li.blog__item
            .blog__image
                img.blog__picture(src="images/blog_2.jpg" alt="picture")
            .blog__text
                p.blog__text__about art / t-shirt
                h2.blog__text__slogan T-shirt design
                .bottom-line-min
                p.blog__text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros, at convallis purus dui ac sem.
                a.blog__text__more(href='#') Read more >>


        li.blog__item
            .blog__image
                img.blog__picture(src="images/blog_3.jpg" alt="picture")
            .blog__text
                p.blog__text__about art / t-shirt
                h2.blog__text__slogan T-shirt design
                .bottom-line-min
                p.blog__text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros, at convallis purus dui ac sem.
                a.blog__text__more(href='#') Read more >>

        li.blog__item
            .blog__image
                img.blog__picture(src="images/blog_4.jpg" alt="picture")
            .blog__text
                p.blog__text__about art / t-shirt
                h2.blog__text__slogan T-shirt design
                .bottom-line-min
                p.blog__text__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros, at convallis purus dui ac sem.
                a.blog__text__more(href='#') Read more >>
