section.free-trial
    .free-trial__background
    .container
        h2.free-trial__slogan Let's get started now.
            b it's FREE!
        p.free-trial__about 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
        a.free-trial__button(href="#") Start free trial