header.header
    .header__background
        .container
            .header__wrapper
                .header__logo: img.logo__picture(src="images/logo.png" width="141px" height="52px" alt="picture")
                include nav
                include hero