section.hero
    .hero__wrapper
        h2.hero__slogan Our clients are our first priority
        h1.hero__title Welcome to Bino

        .bottom-line.hero__bottom-line

        p.hero__about Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros, at convallis purus dui ac sem.
        .hero__buttons-wrapper
            a.hero__button(href="#") Gen started now
            a.hero__button(href="#") Learn more