section.history
    .container
        .history__wrapper
            .history__picture: img.picture__screen(src="images/screen.png" width="379.5px" height="305.25px" alt="picture")
            .history__text-wrapper
                h2.history__title.title Our history
                p.history__about Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros, at convallis purus dui ac sem.
                p.history__about Fusce suscipit, nulla malesuada viverra vestibulum, arcu nisl posuere justo, eu vehicula orci ante sit amet dui. Suspendisse eleifend mi sed aliquam commodo. Nam sodales vehicula ligula, quis convallis ante blandit dictum.
                a.history__button(href="#") Browse our work