section.integrations
    .container
        h2.integrations__title.title Great integrations with others
        p.integrations__about Suspendisse lacinia mauris sed dolor pharetra, nec sollicitudin nulla facilisis. Sed sed purus faucibus, volutpat risus nec, pharetra est. Nullam semper, eros et rutrum sagittis.

        .integrations__line-wrapper
            .bottom-line.integrations__line-wrapper__bottom-line

        ul.integrations__list
            li.integrations__item
                a.integrations__image(href='#')
                    .log-1
            li.integrations__item
                a.integrations__image(href='#')
                    .log-2
            li.integrations__item
                a.integrations__image(href='#')
                    .log-3
            li.integrations__item
                a.integrations__image(href='#')
                    .log-4
            li.integrations__item
                a.integrations__image(href='#')
                    .log-5
            li.integrations__item
                a.integrations__image(href='#')
                    .log-1
            li.integrations__item
                a.integrations__image(href='#')
                    .log-2
            li.integrations__item
                a.integrations__image(href='#')
                    .log-3
            li.integrations__item
                a.integrations__image(href='#')
                    .log-4
            li.integrations__item
                a.integrations__image(href='#')
                    .log-5