section.integrations
    .container
        h2.integrations__title.title Great integrations with others
        p.integrations__about Suspendisse lacinia mauris sed dolor pharetra, nec sollicitudin nulla facilisis. Sed sed purus faucibus, volutpat risus nec, pharetra est. Nullam semper, eros et rutrum sagittis.

        .integrations__line-wrapper
            .bottom-line.integrations__line-wrapper__bottom-line

        ul.integrations__list
            li.integrations__item.osha
            li.integrations__item.nyc
            li.integrations__item.nyc-bild
            li.integrations__item.bbb
            li.integrations__item.epa
            li.integrations__item.dummy-logo
            li.integrations__item.logotype
            li.integrations__item.imaginarium
            li.integrations__item.random-brand
            li.integrations__item.another-logo