nav.nav
    - var items = {home:'Home', about_us:'About us', portfolio:'Portfolio', pricing:'Pricing', team:'Team', blog:'Blog', contact:'Contact'}
    each val, index in items
        if val === 'Home'
            a.nav__link(href="#" + index)=val
        else
            a.nav__link(href="#" + index)=val