section#pricing.pricing
    .container
        h2.pricing__title.title Our pricing
        p.pricing__about Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        .pricing__line-wrapper
            .bottom-line.pricing__line-wrapper__bottom-line

        ul.pricing__list
            li.pricing__item
                .pricing__wrapper
                    h3.pricing__header.selected Starter
                        .pricing__price
                            h2.pricing__title-price.title $19
                            p.pricing__about-price Per month

                    ul.pricing__list-description
                        li.pricing__item-description Competition analysis methods
                        li.pricing__item-description All ranked URLs
                        li.pricing__item-description International support system
                        li.pricing__item-description Social media tracking
                    a.pricing__button(href="#") Choose plan

            li.pricing__item.active
                h3.pricing__header.selected Premium
                    .pricing__price
                        h2.pricing__title-price.title $39
                        p.pricing__about-price Per month

                ul.pricing__list-description
                    li.pricing__item-description Competition analysis methods
                    li.pricing__item-description All ranked URLs
                    li.pricing__item-description International support system
                    li.pricing__item-description Social media tracking
                a.pricing__button(href="#") Choose plan

            li.pricing__item
                h3.pricing__header.selected Business
                    .pricing__price
                        h2.pricing__title-price.title $99
                        p.pricing__about-price Per month

                ul.pricing__list-description
                    li.pricing__item-description Competition analysis methods
                    li.pricing__item-description All ranked URLs
                    li.pricing__item-description International support system
                    li.pricing__item-description Social media tracking
                a.pricing__button(href="#") Choose plan
