section.services
    .services__picture
    .container
        .services__wrapper
            .services__wrapper-centerer
                .services__wrapper-title
                    h2.services__title.title Our services

                ul.services__list

                    li.services__item
                        .services__icon
                            .services__icon-screen
                        .services__wrapper-item
                            h3.services__header Web design
                            p.services__about Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros.


                    li.services__item
                        .services__icon
                            .services__icon-pages
                        .services__wrapper-item
                            h3.services__header Print design
                            p.services__about Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros.


                    li.services__item
                        .services__icon
                            .services__icon-photo
                        .services__wrapper-item
                            h3.services__header Photography
                            p.services__about Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros.

