section.statistic
    .statistic__background
        .container
            h2.statistic__title.title.second Statistical information

            ul.statistic__list
                li.statistic__item
                    .statistic__icon-wrapper
                        .icon-circle
                        .icon-heart
                    h3.statistic__header.selected 3891
                    p.statistic__description User favorites

                li.statistic__item
                    .statistic__icon-wrapper
                        .icon-circle
                        .icon-ticket
                    h3.statistic__header 281K
                    p.statistic__description Posts last 24 hours

                li.statistic__item
                    .statistic__icon-wrapper
                        .icon-circle
                        .icon-like
                    h3.statistic__header.selected 618
                    p.statistic__description Total posts

                li.statistic__item
                    .statistic__icon-wrapper
                        .icon-circle
                        .icon-star
                    h3.statistic__header.selected 178
                    p.statistic__description Campaigns

                li.statistic__item
                    .statistic__icon-wrapper
                        .icon-circle
                        .icon-ribbons
                    h3.statistic__header.selected 285
                    p.statistic__description Amazing features