section.study
    .container
        h2.study__title.title Case study
        p.study__about Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        .study__line-wrapper
            .bottom-line.study__line-wrapper__bottom-line

        .study__wrapper
            .study__icon-wrapper
                .icon.study__icon
                .icon-creative-ideas
            h3.services__header Accumulate creative ideas
            .bottom-line-min
            p.study__about Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit dapibus venenatis. Maecenas elementum, erat ut cursus lacinia, metus nisi condimentum eros, at convallis purus dui ac sem. Fusce suscipit, nulla malesuada viverra vestibulum.
            a.study__button(href="#") Read more



