section#team.team
    .team__curve
    .team__shape
    .container
        h2.team__title.title Our team
        p.team__about meet the craziest team. Share your thoughts with them.

        .bottom-line.team__bottom-line
        ul.team__list
            li.team__item-one.item
                .line
                .manager-one__avatar
                .team__employee
                    h3.team__employee__header Kazi Erfan
                    p.team__employee__about UI/UX Designer
            li.team__item-two.item
                .line
                .manager-two__avatar
                .team__employee
                    h3.team__employee__header Kazi Erfan
                    p.team__employee__about UI/UX Designer
            li.team__item-three.item
                .line
                .manager-three__avatar
                .team__employee
                    h3.team__employee__header Kazi Erfan
                    p.team__employee__about UI/UX Designer
            li.team__item-four.item
                .line
                .manager-four__avatar
                .team__employee
                    h3.team__employee__header Kazi Erfan
                    p.team__employee__about UI/UX Designer
            li.team__item-five.item
                .line
                .manager-five__avatar
                .team__employee
                    h3.team__employee__header Kazi Erfan
                    p.team__employee__about UI/UX Designer
