section.team
    .team__curve
    .team__shape
    .container
        h2.team__title.title Our team
        p.team__about meet the craziest team. Share your thoughts with them.

        .bottom-line.team__bottom-line
        .team__wrapper
            .team__employee.manager-one
                h3.team__employee__header Kazi Erfan
                p.team__employee__about UI/UX Designer
            .team__employee.manager-two
                h3.team__employee__header Kazi Erfan
                p.team__employee__about UI/UX Designer
            .team__employee.manager-three
                h3.team__employee__header Kazi Erfan
                p.team__employee__about UI/UX Designer
            .team__employee.manager-four
                h3.team__employee__header Kazi Erfan
                p.team__employee__about UI/UX Designer
            .team__employee.manager-five
                h3.team__employee__header Kazi Erfan
                p.team__employee__about UI/UX Designer
