section.works
    h2.works__title.title Recent works
    p.works__about Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .works__line-wrapper
        .bottom-line.works__line-wrapper__bottom-line

    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item.active
                a.breadcrumb-item__sub-item(href='#') All
            li.breadcrumb-item
                a.breadcrumb-item__sub-item(href='#') Print design
            li.breadcrumb-item
                a.breadcrumb-item__sub-item(href='#') Animation
            li.breadcrumb-item
                a.breadcrumb-item__sub-item(href='#') Art
            li.breadcrumb-item
                a.breadcrumb-item__sub-item(href='#') Web design
            li.breadcrumb-item
                a.breadcrumb-item__sub-item(href='#') Photography
            li.breadcrumb-item
                a.breadcrumb-item__sub-item(href='#') Video
    .works__picture-wrapper
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_1.jpg" alt="picture")
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_2.jpg" alt="picture")
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_3.jpg" alt="picture")
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_4.jpg" alt="picture")
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_5.jpg" alt="picture")
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_6.jpg" alt="picture")
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_7.jpg" alt="picture")
        a.works__picture-wrapper__picture(href='#'): img.picture__img(src="images/works_8.jpg" alt="picture")



