.about {
  padding: 7.8rem 0 6.6rem 0;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
  }

  &__item {
    flex-basis: 250px;
    padding: 15px 15px;
  }

  &__header {
    margin: 0 0 1rem 0;
    font-size: 1.125rem;
    font-family: $ff-main;
    color: $main-fonts-color;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__description {
    margin: 1rem 0 0 0;
    font-size: 0.75rem;
    font-family: $ff-additional;
    color: $light-fonts-and-background;
    letter-spacing: 0.1em;
  }
}