.header {
  position: relative;
  background-image: url("../images/background_header.jpg");
  background-size: cover,1920px 1041px;
  &::after {
    content: '';
    position: absolute;
    background-image: url("../images/background_figure.svg");
    background-size: auto,1920px 1041px;
  }
  &__background {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1.875rem 0;
  }

  &__logo {
    flex: 1 1 auto;
    line-height: 1;
    margin-left: 1rem;
  }
  &__toggle {
    display: none;
  }
}

// Small devices (landscape phones)
@media (max-width: 768px) {
  .header {
    &__toggle {
      margin-left: auto;
      margin-right: 1rem;
      display: block;
    }
  }
}
