.history {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding: 6rem 0;
  }

  &__picture {
    padding-left: 2.5rem;
  }

  &__text-wrapper {
    padding-left: 1.875rem;
    flex-basis: 50%;
  }

  &__title {
    text-align: left;
    padding-left: 1.64rem;
    border-left: 6px solid $active-color;
    line-height: 1.69rem;
  }

  &__about {
    margin: 2.34rem 0;
    font-size: 0.66rem;
    font-family: $ff-additional;
    color: $light-fonts-and-background;
    letter-spacing: 0.1em;
  }

  &__button {
    @include button-against-a-white-background();
    margin-top: 2rem;
    padding: 0.7rem 1.9rem;
  }
  .picture__screen {
    width: 379.5px;
    height: 305.25px;
  }
}

// Medium devices (tablets), Small devices (landscape phones)
@media (min-width: 769px) and (max-width: 1024px), (max-width: 768px) {
  .history {
    &__wrapper {
      padding: 0 0 6rem 0;
    }
    &__picture {
      padding: 0;
      margin: 0 auto;
    }
    &__text-wrapper {
      padding: 2.34rem 0.7rem 0 0.7rem;
      flex-basis: 100%;
      text-align: center;
    }
    &__title {
      display: block;
      width: 13rem;
      text-align: center;
      padding-left: 0;
      margin: 0 auto;
    }
    &__button {
      width: 50%;
    }
  }
}

@media (max-width: 400px) {
  .history {
    .picture__screen {
      position: relative;
      width: 90%;
      height: 90%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}