.integrations {
  min-height: 33rem;
  background-color: $light-background;

  &__title {
    padding-top: 6.8rem;
  }

  &__about {
    display: block;
    width: 80%;
    margin: 0.75rem auto;
    font-family: $ff-main;
    font-size: 0.675rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 1.4rem;
    color: $light-fonts-and-background;
  }

  &__line-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 2.8rem 0;
    align-items: center;
    align-content: center;

    &__bottom-line {
      display: inline-block;
      text-align: center;
      &:after {
        background: $main-fonts-color;
      }
      &:before {
        background: $main-fonts-color;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
  }
  &__item {
    margin: 0.7rem;
    padding: 0;
    background-color: $against-a-dark-background;
    width: 9.8rem;
    height: 4.7rem;
    &:hover {
      background-color: $active-color;
    }
  }
  &__image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.log-1 {
  @include integrations-logo (
          $background-url: 'log-1.svg',
          $background-hover-url: 'log-1-white.svg'
  );
}

.log-2 {
  @include integrations-logo (
          $background-url: 'log-2.svg',
          $background-hover-url: 'log-2-white.svg'
  );
}

.log-3 {
  @include integrations-logo (
          $background-url: 'log-3.svg',
          $background-hover-url: 'log-3-white.svg'
  );
}

.log-4 {
  @include integrations-logo (
          $background-url: 'log-4.svg',
          $background-hover-url: 'log-4-white.svg'
  );
}

.log-5 {
  @include integrations-logo (
          $background-url: 'log-5.svg',
          $background-hover-url: 'log-5-white.svg'
  );
}