.nav {

  &__link {
    display: table-cell;
    vertical-align: top;
    font-family: $ff-main;
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    padding: 0 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $against-a-dark-background;
    //transform: 0.3s;
  }
  &__link:first-child {
    padding-left: 0;
  }
  &__link:last-child {
    padding-right: 0;
  }

  &__link:hover {
    color: darken($against-a-dark-background, 30%);
  }
  &__link:active {
    color: $active-color;
  }
  &__link--active {
    color: $active-color;
  }
}

//Подчеркивание активной ссылки
.nav__link--active {
  position: relative;
}
.nav__link--active::after {
  content: " ";
  position: absolute;

  /*привязка к родителю:*/
  right: 1.3125rem;
  bottom: -0.9375rem;
  left: 0px;

  height: 1px;
  background-color: $active-color;
}