.services {
  background: $dark-background;
  position: relative;

  &__picture {
    @include centerer-y();
    width: 41.2rem;
    height: 36rem;
    left: 50%;
    background: url("../images/image_1.jpg");
  }

  &__wrapper {
    padding-right: 48.7%;
    min-height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

  }

  &__wrapper-centerer {
    margin: auto 0;
  }

  &__wrapper-title {
    padding-right: 5.25rem;
  }

  &__list {
    padding: 0 0.7rem;
    text-align: right;
  }

  &__title {
    color: $against-a-dark-background;
    padding-right: 1.64rem;
    border-right: 6px solid $active-color;
    line-height: 1.69rem;
    text-align: right;
    margin: 6.56rem 0 2.34rem 7rem;
  }

  &__item {
    position: relative;
  }

  &__icon {
    position: absolute;
    width: 3.3rem;
    height: 3.3rem;
    left: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  &__wrapper-item {
    padding-right: 4.7rem;
  }

  &__header {
    margin: 0 0 0.75rem 0;
    font-size: 0.84rem;
    font-family: $ff-main;
    color: $active-color;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__about {
    margin: 0.75rem 0 2.8rem;
    font-size: 0.66rem;
    font-family: $ff-additional;
    color: $light-fonts-and-background;
    letter-spacing: 0.1em;
  }


  //Circle with icon

  &__icon-screen {
    @include circle-icon(ico-screen, 1.3rem, 1.03rem);
  }
  &__icon-pages {
    @include circle-icon(ico-pages, 1.45rem, 1.22rem);
  }
  &__icon-photo {
    @include circle-icon(ico-photo, 1.17rem, 1.03rem);
  }
}





// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .services {
    &__picture {
      @include visuallyhidden;
    }

    &__wrapper {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }

    &__wrapper-title {
      padding-right: 0;
    }

    &__list {
      padding: 0;
    }

    &__title {
      text-align: center;
      margin: 6.6rem 0 2.34rem 0;
      padding-right: 0;
    }

    &__icon {
      position: unset;


    }

    &__wrapper-item {
      padding-right: 0;
    }

    &__header {
      text-align: center;
    }

    &__about {
      text-align: center;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .services {
    &__picture {
      @include visuallyhidden;
    }

    &__title {
      text-align: center;
    }

    &__item {

    }

    &__wrapper-item {

    }

    &__header {
      text-align: center;
    }

    &__about {
      text-align: center;
    }

    //Circle with icon
    //&__icon {
    //  position: relative;
    //  text-align: center;
    //}
  }
}



