.study {
  background-color: $light-background;
  min-height: 55rem;

  &__title{
    padding-top: 5rem;
  }

  &__about {
    display: block;
    width: 80%;
    margin: 0.75rem auto;
    font-family: $ff-main;
    font-size: 0.675rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 1rem;
    color: $light-fonts-and-background;
  }

  &__line-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;

    &__bottom-line {
      display: inline-block;
      text-align: center;
      &:after {
        background: $main-fonts-color;
      }
      &:before {
        background: $main-fonts-color;
      }
    }
  }

  &__img {
    position: absolute;
    right: 2.5rem;
    top: 220px;
    min-height: 541.5px;
    width: 438.75px;
    background-color: $against-a-dark-background;
    background-position: center;
    text-align: center;
  }

  &__wrapper {
    position: absolute;
    left: 2.5rem;
    top: 255px;
    min-height: 471.75px;
    width: 497.25px;
    background-color: $against-a-dark-background;
    background-position: center;
    text-align: center;
    z-index: 1;
  }

  &__icon-wrapper {
    position: relative;
    margin: 70px 0 50px 0;
  }

  &__icon {
    background-color: $active-color;
    border-color: $active-color;
    transform: rotate(45deg);
    width: 4rem;
    height: 4rem;
  }

  &__button {
    @include button-against-a-white-background();
  }
}

