.team {
  position: relative;
  width: 100%;
  color: $against-a-dark-background;
  background-color: $main-fonts-color;
  background-image: url("../images/background_team.jpg");
  background-size: cover, 1440px 558px;

  font-family: $ff-main;
  text-align: center;

  &__curve {
    @include centerer-xy();
    top: 48%;
    width: 1440px;
    height: 382.9px;
    background: url("../images/line.svg") no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__shape {
    @include centerer-xy();
    top: 56.5%;
    content: '';
    width: 1440px;
    height: 486.267px;
    background: url("../images/shape.svg") no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__title {
    padding-top: 6.3rem;
    color: $against-a-dark-background;
  }

  &__about {
    display: block;
    width: 80%;
    margin: 0.5rem auto;
    font-family: $ff-main;
    font-size: 0.675rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 1.4rem;
    color: $against-a-dark-background;
  }

  &__bottom-line {
    margin: 0 auto;
  }

  &__list {
    padding-bottom: 22.5rem;
    position: relative;
  }

  &__item-one {
    @include team-item-position (
            $left: 0,
            $top: 36%
    );
    &:hover {
      @include hover-position ($element: 'manager-one');
    }
  }
  &__item-two {
    @include team-item-position (
            $left: 22.7%,
            $top: 25.3%
    );
    &:hover {
      @include hover-position ($element: 'manager-two');
    }
  }
  &__item-three {
    @include team-item-position (
            $left: 50%,
            $top: 25.3%
    );
    transform: translateX(-50%);
    &:hover {
      @include hover-position (
              $element: 'manager-three',
              $transform-xy: '-50%, 18%'
      );
    }
  }
  &__item-four {
    @include team-item-position (
            $left: 65%,
            $top: 33%
    );
    &:hover {
      @include hover-position ($element: 'manager-four');
    }
  }
  &__item-five {
    @include team-item-position (
            $left: auto,
            $top: 23%
    );
    right: 0;
    &:hover {
      @include hover-position ($element: 'manager-five');
    }
  }

  &__employee {
    text-align: center;
    padding: 0;
    margin: 65% 0 0 0;
    opacity: 0;
    &__header {
      color: $active-color;
      font-size: 0.8rem;
      font-weight: normal;
      padding: 0;
      margin: 0;
      margin-top: 1rem;
    }
    &__about {
      font-family: $ff-main;
      font-size: 0.4rem;
      letter-spacing: 0.1em;
      color: $against-a-dark-background;
      padding: 0;
      margin: 0;
    }
  }
}

.line {
  @include centerer-x();
  top: 10%;
  width: 1px;
  height: 55px;
  background-color: $against-a-dark-background;
  opacity: 0;
}

.manager-one__avatar {
  @include team-manager (
          $background-url: 'foto_1.png'
  );
}

.manager-two__avatar {
  @include team-manager (
          $background-url: 'foto_2.png'
  );
}

.manager-three__avatar {
  @include team-manager (
          $background-url: 'foto_3.png'
  );
}

.manager-four__avatar {
  @include team-manager (
          $background-url: 'foto_4.png'
  );
}

.manager-five__avatar {
  @include team-manager (
          $background-url: 'foto_5.png'
  );
}

@media (min-width: 769px) and (max-width: 960px) {
  .team {
    &__curve {
      opacity: 0;
    }
    &__shape {
      opacity: 0;
    }
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 7rem 0 1rem;
      align-items: center;
      align-content: center;
    }
    &__item-one, &__item-two, &__item-three, &__item-four, &__item-five {
      position: relative;
      margin: 0;
      flex: 0 0 25%;
    }
  }
}

@media (max-width: 768px) {
  .team {
    &__curve {
      opacity: 0;
    }
    &__shape {
      opacity: 0;
    }
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      align-items: center;
      align-content: center;
    }
    &__item {
      flex: 0 0 100%;
    }
  }
}