.works {
  padding-top: 6rem;
  &__about {
    font-family: $ff-main;
    font-size: 0.675rem;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 1.4rem;
    color: $light-fonts-and-background;
  }

  &__line-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;

    &__bottom-line {
      display: inline-block;
      text-align: center;
      &:after {
        background: $main-fonts-color;
      }
      &:before {
        background: $main-fonts-color;
      }
    }
  }

  &__list-picture {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: stretch;
    align-content: center;
  }
  &__item {
    position: relative;
    margin: 0;
    color: $against-a-dark-background;
    display: flex;
    flex-direction: row;
    flex: 0 0 25%;
  }
  &__image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  &__picture {
    width: 100%;
    height: 100%;
  }
  &__text {
    @include centerer-xy();
    width: 100%;
    height: 100%;
    background: $active-transparent;
    margin: 0;
    padding: 0 2.3rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .9s;
    &__title {
      position: relative;
      margin: 0;
      padding-top: 90%;
      font-family: $ff-additional;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      font-weight: lighter;
      font-size: 1.125rem;
      line-height: 3rem;
      &:before {
        position: absolute;
        content: '';
        width: 2rem;
        height: 3px;
        background-color: $against-a-dark-background;
      }
    }
    &__about {
      font-family: $ff-main;
      font-size: 0.675rem;
      letter-spacing: 0.1em;
      margin: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .works {
    &__item {
      flex: 0 0 50%;
    }
  }
}

@media (max-width: 768px) {
  .works {
    &__item {
      flex: 0 0 100%;
    }
  }
}