.button {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 22px 7px;
  text-decoration: none;


  &--clear {
    background: transparent;
    color: #ffffff;
    transition: 0.3s;


    &:hover {
      background: #e74c3c;
    }
  }
  &--grey {
    background: #999999;
    color: #ffffff;
    transition: 0.3s;


    &:hover {
      background: #e74c3c;
    }
  }

}