@font-face {
  font-family: 'Open Sans', sans-serif;
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
  font-weight: bold;
  font-style: normal;
}