// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-anchor-name: 'ico-anchor';
$ico-anchor-x: 0px;
$ico-anchor-y: 0px;
$ico-anchor-offset-x: 0px;
$ico-anchor-offset-y: 0px;
$ico-anchor-width: 74px;
$ico-anchor-height: 74px;
$ico-anchor-total-width: 148px;
$ico-anchor-total-height: 103px;
$ico-anchor-image: '../images/sprite.png';
$ico-anchor: (0px, 0px, 0px, 0px, 74px, 74px, 148px, 103px, '../images/sprite.png', 'ico-anchor', );
$ico-bulb-white-name: 'ico-bulb-white';
$ico-bulb-white-x: 105px;
$ico-bulb-white-y: 0px;
$ico-bulb-white-offset-x: -105px;
$ico-bulb-white-offset-y: 0px;
$ico-bulb-white-width: 21px;
$ico-bulb-white-height: 34px;
$ico-bulb-white-total-width: 148px;
$ico-bulb-white-total-height: 103px;
$ico-bulb-white-image: '../images/sprite.png';
$ico-bulb-white: (105px, 0px, -105px, 0px, 21px, 34px, 148px, 103px, '../images/sprite.png', 'ico-bulb-white', );
$ico-bulb-name: 'ico-bulb';
$ico-bulb-x: 126px;
$ico-bulb-y: 50px;
$ico-bulb-offset-x: -126px;
$ico-bulb-offset-y: -50px;
$ico-bulb-width: 17px;
$ico-bulb-height: 27px;
$ico-bulb-total-width: 148px;
$ico-bulb-total-height: 103px;
$ico-bulb-image: '../images/sprite.png';
$ico-bulb: (126px, 50px, -126px, -50px, 17px, 27px, 148px, 103px, '../images/sprite.png', 'ico-bulb', );
$ico-cloud-name: 'ico-cloud';
$ico-cloud-x: 126px;
$ico-cloud-y: 28px;
$ico-cloud-offset-x: -126px;
$ico-cloud-offset-y: -28px;
$ico-cloud-width: 21px;
$ico-cloud-height: 22px;
$ico-cloud-total-width: 148px;
$ico-cloud-total-height: 103px;
$ico-cloud-image: '../images/sprite.png';
$ico-cloud: (126px, 28px, -126px, -28px, 21px, 22px, 148px, 103px, '../images/sprite.png', 'ico-cloud', );
$ico-facebook-name: 'ico-facebook';
$ico-facebook-x: 105px;
$ico-facebook-y: 34px;
$ico-facebook-offset-x: -105px;
$ico-facebook-offset-y: -34px;
$ico-facebook-width: 10px;
$ico-facebook-height: 20px;
$ico-facebook-total-width: 148px;
$ico-facebook-total-height: 103px;
$ico-facebook-image: '../images/sprite.png';
$ico-facebook: (105px, 34px, -105px, -34px, 10px, 20px, 148px, 103px, '../images/sprite.png', 'ico-facebook', );
$ico-flag-white-name: 'ico-flag-white';
$ico-flag-white-x: 126px;
$ico-flag-white-y: 0px;
$ico-flag-white-offset-x: -126px;
$ico-flag-white-offset-y: 0px;
$ico-flag-white-width: 22px;
$ico-flag-white-height: 28px;
$ico-flag-white-total-width: 148px;
$ico-flag-white-total-height: 103px;
$ico-flag-white-image: '../images/sprite.png';
$ico-flag-white: (126px, 0px, -126px, 0px, 22px, 28px, 148px, 103px, '../images/sprite.png', 'ico-flag-white', );
$ico-glasses-name: 'ico-glasses';
$ico-glasses-x: 74px;
$ico-glasses-y: 60px;
$ico-glasses-offset-x: -74px;
$ico-glasses-offset-y: -60px;
$ico-glasses-width: 27px;
$ico-glasses-height: 13px;
$ico-glasses-total-width: 148px;
$ico-glasses-total-height: 103px;
$ico-glasses-image: '../images/sprite.png';
$ico-glasses: (74px, 60px, -74px, -60px, 27px, 13px, 148px, 103px, '../images/sprite.png', 'ico-glasses', );
$ico-heart-white-name: 'ico-heart-white';
$ico-heart-white-x: 29px;
$ico-heart-white-y: 74px;
$ico-heart-white-offset-x: -29px;
$ico-heart-white-offset-y: -74px;
$ico-heart-white-width: 31px;
$ico-heart-white-height: 26px;
$ico-heart-white-total-width: 148px;
$ico-heart-white-total-height: 103px;
$ico-heart-white-image: '../images/sprite.png';
$ico-heart-white: (29px, 74px, -29px, -74px, 31px, 26px, 148px, 103px, '../images/sprite.png', 'ico-heart-white', );
$ico-heart-name: 'ico-heart';
$ico-heart-x: 126px;
$ico-heart-y: 77px;
$ico-heart-offset-x: -126px;
$ico-heart-offset-y: -77px;
$ico-heart-width: 21px;
$ico-heart-height: 19px;
$ico-heart-total-width: 148px;
$ico-heart-total-height: 103px;
$ico-heart-image: '../images/sprite.png';
$ico-heart: (126px, 77px, -126px, -77px, 21px, 19px, 148px, 103px, '../images/sprite.png', 'ico-heart', );
$ico-like-white-name: 'ico-like-white';
$ico-like-white-x: 74px;
$ico-like-white-y: 0px;
$ico-like-white-offset-x: -74px;
$ico-like-white-offset-y: 0px;
$ico-like-white-width: 31px;
$ico-like-white-height: 31px;
$ico-like-white-total-width: 148px;
$ico-like-white-total-height: 103px;
$ico-like-white-image: '../images/sprite.png';
$ico-like-white: (74px, 0px, -74px, 0px, 31px, 31px, 148px, 103px, '../images/sprite.png', 'ico-like-white', );
$ico-star-white-name: 'ico-star-white';
$ico-star-white-x: 74px;
$ico-star-white-y: 31px;
$ico-star-white-offset-x: -74px;
$ico-star-white-offset-y: -31px;
$ico-star-white-width: 31px;
$ico-star-white-height: 29px;
$ico-star-white-total-width: 148px;
$ico-star-white-total-height: 103px;
$ico-star-white-image: '../images/sprite.png';
$ico-star-white: (74px, 31px, -74px, -31px, 31px, 29px, 148px, 103px, '../images/sprite.png', 'ico-star-white', );
$ico-ticket-white-name: 'ico-ticket-white';
$ico-ticket-white-x: 0px;
$ico-ticket-white-y: 74px;
$ico-ticket-white-offset-x: 0px;
$ico-ticket-white-offset-y: -74px;
$ico-ticket-white-width: 29px;
$ico-ticket-white-height: 29px;
$ico-ticket-white-total-width: 148px;
$ico-ticket-white-total-height: 103px;
$ico-ticket-white-image: '../images/sprite.png';
$ico-ticket-white: (0px, 74px, 0px, -74px, 29px, 29px, 148px, 103px, '../images/sprite.png', 'ico-ticket-white', );
$spritesheet-width: 148px;
$spritesheet-height: 103px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ico-anchor, $ico-bulb-white, $ico-bulb, $ico-cloud, $ico-facebook, $ico-flag-white, $ico-glasses, $ico-heart-white, $ico-heart, $ico-like-white, $ico-star-white, $ico-ticket-white, );
$spritesheet: (148px, 103px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
