// Fonts
$ff-main: 'Open Sans';
$ff-additional: 'Source Sans Pro';

//Colors
$white: #ffffff;
$dark-grey: #453f3f;
$grey: #6a6a6a;
$light-grey: #999999;
$red: #e74c3c;

$against-a-dark-background: $white;
$dark-background: $dark-grey;
$main-fonts-color: $grey;
$light-fonts-and-background: $light-grey;
$active-color: $red;


